@use '../../assets/styles/variables' as vars;

.horizontalMenu {
  position: sticky;
  top: 0;
  background-color: vars.$color-bg;
  z-index: 1000;
  padding: 1.2rem 0;
  transition: transform 0.3s ease-in-out;
  width: 1028px;
  margin: 0 auto;

  &.hidden {
    transform: translateY(-100%);
  }

  .container {
    max-width: 35rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;

    .menuItems {
      display: flex;
      gap: vars.$spacing-medium;
      list-style: none;
      margin: 0;
      padding: 0;

      .menuItem {
        position: relative;

        a {
          color: vars.$color-primary;
          text-decoration: none;
          font-size: vars.$font-size-base;
          font-weight: vars.$font-weight-base;
          scale: 1;
          transition: all 0.4s linear;

          &:hover {
            color: vars.$color-primary-hover;
            scale: 1.1;
            font-size: 16px;
          }
        }

        &:hover .submenu {
          list-style: none;
          margin: 0;
          overflow-y: auto;
          display: block;
          width: 11rem;
          padding: 1.25rem;
          position: absolute;
          top: 200%;
          left: 0;
          z-index: 100;
          border: 1px solid vars.$color-border;

          li {
            padding: 0.6rem 0;
            border-bottom: 1px solid vars.$color-border;

            a {
              color: vars.$color-text;

              &:hover {
                margin-left: 1rem;
                color: vars.$color-menu-item-hover;
              }
            }
          }
        }

        .submenu {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          background-color: vars.$color-bg;
          padding: vars.$spacing-small;
          z-index: 100;

          li a {
            color: vars.$color-text;
            &:hover {
              color: vars.$color-primary-hover;
            }
          }
        }
      }
    }
  }
}

.horizontalLines {
  border-top: 1px solid vars.$color-border;
  border-bottom: 1px solid vars.$color-border;
}

.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 75%;
  height: 100%;
  background-color: vars.$color-bg;
  z-index: 1000;
  padding: 0 vars.$spacing-small;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  border-right: 1px solid vars.$color-border;

  &.open {
    transform: translateX(0);
  }

  .closeContainer {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .close {
      font-size: 2rem;
      color: vars.$color-primary;
      cursor: pointer;
      user-select: none;
    }
  }

  .menuItems {
    list-style: none;
    margin: 0;
    overflow-y: auto;
    padding: 0 0 vars.$spacing-large;

    li {
      padding: vars.$spacing-semi-small;
      border-top: 1px solid vars.$color-border;

      a {
        color: vars.$color-primary;
        text-decoration: none;
        font-size: vars.$font-size-base;
        font-weight: vars.$font-weight-base;
      }

      &:hover {
        cursor: pointer;
        background: vars.$color-primary-mobile-hover;
      }
    }
  }

  .submenu {
    list-style: none;
    margin: 0;
    padding: 0 0 0 vars.$spacing-medium;

    .submenuItem {
      margin-bottom: vars.$spacing-medium;

      a {
        color: vars.$color-primary;
        text-decoration: none;
        font-size: vars.$font-size-base;
        font-weight: vars.$font-weight-base;

        &:hover {
          color: vars.$color-primary-hover;
        }
      }
    }
  }
}

.hamburger {
  display: block;
  font-size: 2rem;
  cursor: pointer;

  @media (min-width: vars.$breakpoint-small) {
    display: none;
  }
}

@media (max-width: vars.$breakpoint-small) {
  .horizontalMenu {
    display: none;
  }

  .mobileMenu {
    transform: translateX(-100%);
  }

  .mobileMenu.open {
    transform: translateX(0);
  }
}
