@use '../../../assets/styles/variables' as vars;

.horizontalMenu {
  position: sticky;
  top: 0;
  background-color: vars.$color-bg;
  z-index: 1000;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  width: 1028px;
  margin: 0 auto;

  &.hidden {
    transform: translateY(-100%);
  }

  .container {
    max-width: 36rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    height: 100%;

    .menuItems {
      display: flex;
      gap: vars.$spacing-medium;
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;

      .menuItem {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;

        a {
          color: vars.$color-primary;
          text-decoration: none;
          font-size: vars.$font-size-base;
          font-weight: vars.$font-weight-base;
          transition: all 0.2s linear;
          scale: 1;

          span {
            margin-right: 4px;
          }

          svg {
            margin-top: 2px;
            transition: all 0.2s linear;
          }
        }

        &:hover {
          color: vars.$color-primary-hover;
          scale: 1.1;
          font-size: 16px;

          svg {
            transition: all 0.2s linear;
          }
        }

        &:hover .submenu {
          list-style: none;
          margin: 0;
          overflow-y: auto;
          display: block;
          width: 11rem;
          padding: 1.25rem;
          position: absolute;
          top: 55px;
          left: 0;
          z-index: 100;
          border: 1px solid vars.$color-border;

          li:not(:last-child) {
            border-bottom: 1px solid vars.$color-border;
          }

          li {
            padding: 0.6rem 0;

            a {
              color: vars.$color-text;
              display: flex;
              justify-content: space-between;
              width: 100%;

              svg {
                margin-top: 6px;
                transform: rotate(275deg);
              }
            }

            &:hover {
              a {
                span {
                  transition: all 0.5s linear;
                  margin-left: 1rem;
                  color: vars.$color-menu-item-hover;
                }
              }
            }
          }
        }

        .submenu {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          background-color: vars.$color-bg;
          padding: vars.$spacing-small;
          z-index: 100;

          li a {
            color: vars.$color-text;

            &:hover {
              color: vars.$color-primary-hover;
            }
          }
        }
      }
    }
  }
}

.horizontalLines {
  border-top: 1px solid vars.$color-border;
  border-bottom: 1px solid vars.$color-border;
}

@media (max-width: vars.$breakpoint-small) {
  .horizontalLines {
    display: none;
  }
}
