@use './variables' as vars;

body {
  margin: 0;
  font-family: vars.$font-family;
  font-size: vars.$font-size-base;
}

.layout {
  display: grid;
  grid-template-rows: vars.$size-header-height vars.$size-menu-height auto;
  height: 100vh;
}
