$color-bg: #ffffff;
$color-text: #333333;
$color-primary: #000000;
$color-primary-hover: #000000;
$color-primary-mobile-hover: #eaeaea;
$color-secondary: #929292;
$color-border: #E9E9E9;
$color-menu-item-hover: #969696;

$font-family: "Roboto", sans-serif;
$font-size-base: 1rem;
$font-weight-base: 500;

$breakpoint-small: 768px;
$breakpoint-medium: 1024px;

$size-header-height: 5rem;
$size-menu-height: 3.75rem;

$spacing-small: 1rem;
$spacing-semi-small: 1.5rem;
$spacing-medium: 2rem;
$spacing-large: 3rem;
